:root {
  /* 색상 */
  --toss-blue: #0064FF;
  --toss-gray: #202632;
  --blue-100: #c5d0f0;
  --blue-900: #1E3269;
  --gray-100: #f2f4f6;
  --gray-700: #4e5968;
  --gray-800: #333d4b;
  --gray-900: #191f28;
  --black: #121212;
  --white: #ffffff;

  /* 폰트 사이즈 */
  --font-size--6: 6px;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-16: 16px;
  --font-size-17: 17px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-48: 48px;

  /* 간격 사이즈(margin, padding) */
  --size-6: 6px;
  --size-10: 10px;
  --size-12: 12px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-24: 24px;
  --size-38: 38px;
  --size-40: 40px;
  --size-44: 44px;

  /* radius 사이즈 */
  --radius-8: 8px;
}